*{
    box-sizing: border-box;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    
}


header .container .hamb{
	display: none;
}


a{
	text-decoration: none;
	display: inline-block;
}

nav{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
	display: flex;
	justify-content: center;
	border-top: 2px solid rgb(59,56,179);
	border-bottom: 2px solid rgb(59,56,179);
}

section .img-banner{
	display: block;
	width: 100%;
	height: auto;
}

section{
	position: relative;
	top: 0;
	left: 0;
}

section#introduccion{
	background: linear-gradient(to bottom, rgb(148, 0, 221), rgb(108, 0, 191));
}

section#introduccion-mobile{
	background: linear-gradient(to bottom, rgb(148, 0, 221), rgb(108, 0, 191));
}


section#roadmap{
	background: linear-gradient(to bottom, rgb(68, 0, 161) , rgb(48,0,131));
}

section#roadmap-mobile{
	background: linear-gradient(to bottom, rgb(68, 0, 161) , rgb(48,0,131));
}

section#objetivos{
	background: linear-gradient(to bottom,rgb(48,0,131) , rgb(08, 0, 85));
}

section#objetivos-mobile{
	background: linear-gradient(to bottom,rgb(48,0,131) , rgb(08, 0, 85));
}


section#servicios{
	background: linear-gradient(to bottom,rgb(08, 0, 85) , rgb(0, 0, 61));
}

section#servicios-mobile{
	background: linear-gradient(to bottom,rgb(08, 0, 85) , rgb(0, 0, 61));
}

section#about{
	background: linear-gradient(to bottom,rgb(108, 0, 191) , rgb(68, 0, 161));
	visibility: visible;
}

section#about-mobile{
		background: linear-gradient(to bottom, rgb(108, 0, 191) , rgb(68, 0, 161));
	}

section#team{
	background: linear-gradient(to bottom,rgb(0, 0, 61) , rgb(0,0,36));
}

section#team-mobile{
	background: linear-gradient(to bottom,rgb(0, 0, 61) , rgb(0,0,36));
}

section#colaboradores{
	background: linear-gradient(to bottom, rgb(28,0,71), rgb(8, 0, 41));
}

footer{
	background: linear-gradient(to bottom, rgb(0, 0, 31), rgb(0, 0, 0));
}

h1{
	font-size: 25px;
	color: #fff;
}

h2{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	color: #fff;
	display: inline;	
}

h3{
	font-size: 13px;
	color: #fff;
}

#banner .container{
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;

}
#banner .img-banner-mobile{
	display: none;
}

#introduccion{
	display: none;
}

#introduccion-mobile{
	display: block;
}

#introduccion-mobile .caja-negra{
	padding: 25px;
}

#introduccion-mobile span{
	 color: rgb(96, 144, 255);
}

#introduccion-mobile .parrafo{
	font-size: 12px;
	color: orange;
}

#introduccion .titulo{
	font-weight: 600;
}

#introduccion span{
	color: rgb(96, 144, 255);
}

#introduccion p{
	color: orange;
}

#objetivos{
	display: none;
}

#objetivos-mobile{
	display: block;
}

#objetivos-mobile .caja-negra{
	padding: 15px;
}
#objetivos span{
	color: rgb(96, 144, 255);
}

#objetivos p{
	color: orange;
}

#objetivos-mobile{
	display: block;
 }

#objetivos-mobile span {
   color: rgb(96, 144, 255);
} 

#objetivos-mobile p{
   font-size: 12px;
   color: orange;
 }

#roadmap p{
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
	align-self: center;
   margin-left: auto;
   margin-right: auto;
   padding: 0 15px;
}

#roadmap .imagen-roadmap{
	display: flex;
	height: 100%;
	width: 100px;
	background: rgb(88, 0, 161);
	margin-left: 10px;

}


#roadmap .imagen-roadmap img{
	height: 80px;
	width: 80px;
	align-self: center;
	object-position: center;
	margin-bottom: 40px;

}

#roadmap .roadmap-intro{
	display: flex;
	align-items: center;

}

#roadmap .titulo-roadmap{
	display: flex;
	width: 450px;
	height: 100%;
	background: rgb(88, 0, 161);
	padding-right: 10px;
}

#roadmap .descripcion{
	width: 100%;
	height: 100%;
	display: flex;
}



#roadmap h3{
	text-transform: uppercase;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.5;
}

#roadmap span{
	color: rgb(96, 144, 255);
}

#roadmap .descripcion p{
	font-size: 12px;
}

#roadmap-mobile{
	display: none;
}

#about p{
	font-size: 12px;
	line-height: 1.5;
}
#about-mobile{
	visibility: hidden;
	display: none;

}

#about h3{
	font-size: 13px;
}

#servicios{
	display: block;
}

#servicios-mobile{
	display: none;
}

#team .circulo{
	width: 150px;
	height: 150px;
	padding-bottom: 35px;
	background-color: #000;
	border: 5px solid #5800a1;
	object-fit: contain;
	transition-property: background;
	transition-duration: .4s;
}

#team .circulo:hover{
	background: rgb(88, 0, 161);
}

#team h4{
	text-align: center;
	color: #fff;
	line-height: 1.5;
	font-size: 13px;
}

#team span{
	color: #48e;
}

#team{
	display: block;
}

#team-mobile{
	display: none;
}

.container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	width:  1170px;
}



.cabecera{
	width: 100%;
	padding-bottom: 7px;
	padding-top: 7px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background: rgba(0, 0, 0, .5);

}

.columna{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;

}

.columna-14{
	width: 14.28%;
}

.columna-25{
	width: 25%;
}

.columna-33{
	width: 33%;
}

.columna-50{
	width: 50%;
}

.columna-75{
	width: 75%;
}

.columna-95{
	width: 95%;
}

.columna-100{
	width: 100%;
}

.columna-roadmap{
	background-color:#3b38b3 ;
}

/*.columna-absoluta{
	position: absolute;
	top: 30%;
	left: 35%;
	right: 0;
}*/

.bienvenida span{
	word-spacing: -7px;
	line-height: 1.5;
	font-weight: bold;
	color: rgb(59,56,179);
}

.columna-celeste{
	background: rgba(0, 0, 0,.7);
	border: 2px solid rgb(59,56,179);
}

.columna-flex{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	width: 550px;
	border-radius: 50px;
	height: 400px;

}

.fila{
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	justify-content: center;
}


.cabecera .menu a{
	margin-left: 25px;
	margin-right: 25px;
	word-spacing: 0px;
	text-transform: uppercase;
	color: #fff;
	transition-property: color;
	transition-duration: 1s;
	font-weight: bold;
	font-size: 13px;
}

.cabecera .menu a:hover{
	color: rgb(96, 144, 255);
}



.cabecera .logo{
   display: inline-block;
   vertical-align: middle;
}

.cabecera .logo{
   width: 80px;
   height: auto;
}

.circulo{
	width: 200px;
	height: 200px;
	border: 2px solid rgb(59,56,179);
	border-radius: 100px;
	object-fit: cover;
	border-radius: 100px;
}

.btn{
	padding: 10px 30px;
	font-size: 14px;
	border: 2px solid rgb(59,56,179);
	border-radius: 30px;
	box-shadow: 3px 10px 20px #000;
}

.boton-transparente{
	background: #48e;
	color: rgb(59,56,179);
	transition: background;
	transition-duration: .3s;
}

.boton-transparente:hover{
	background: rgba(59,56,179,0.3);
}

.alinear-texto{
	text-align: center;
}

.parrafo{
	line-height: 2;
	color: #fff;
	font-size: 12px;
}

.caja-texto{
	width: 100%;
}

.caja-negra{
	background-color: rgba(0, 0, 0, .5);
	padding: 50px 30px;
	margin-left: -7px;
	border: 2px solid ;
}

.sin-padding-de-lado{
	padding-left: 0;
	padding-right: 0;
}

.padding-superior-inferior{
	padding-top: 15px;
	padding-bottom: 15px;
}

.seccion{
	padding-top: 15px;
	padding-bottom: 30px;
}

.borde-redondo{
	border-radius: 30px;
	border-color: rgba(96, 144, 255, 0.9);
}

.redes-sociales{
	display: flex;
	width: 100%;
	justify-content: space-around;
}


.discord img{
	width: 60px;
	height: 60px;
	
	
}

.twitter img{
	width: 60px;
	height: 60px;
}

.roadmap-introduccion{
	display: inline-block;
}

.img-roadmap{
	display: inline-block;
	padding: 15px;
	margin-right: 20px;
	background-color: #3b38b3;

}

.flex-horizontal{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.caja-servicios{
	background-color: rgb(88, 0, 161);
	width: 100%;
	height: 100%;
	border: 1px solid rgb(148, 0, 221);
	box-shadow: 0px 0px 15px 0px rgb(148, 0, 221);
	padding: 15px;

}

.parrafo-servicios{
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
	font-weight: bold;
  
}

.imagen-titulos{
	width: 100%;
	height: 135px;

}

.texto-absoluto{
	position: absolute;
	left: 0;
	right: 0;
	top: 9.5%;

}

.texto-absoluto2{
	position: absolute;
	left: 0;
	right: 0;
	top: 5.8%;
}

.texto-absoluto3{
	position: absolute;
	left: 0;
	right: 0;
	top: 5.9%;
}

.texto-absoluto4{
	position: absolute;
	left: 0;
	right: 0;
	top: 16.1%;
}

.texto-absoluto5{
	position: absolute;
	left: 0;
	right: 0;
	top: 5.3%;
}


.texto-absoluto7{
	position: absolute;
	left: 0;
	right: 0;
	top: 9.6%;
}

.texto-absoluto8{
	position: absolute;
	left: 0;
	right: 0;
	top: 43%;
}


.caja-about{
	display: flex;
	flex-direction: column;
	border: 2px solid rgb(148, 0, 221);
}

.titulo-about{
	background-color: rgb(88, 0, 161);
	color: #fff;
	font-size: 18px;
	padding: 0 15px;
	line-height: 1.5;
}

.parrafo-about{
	background-color: rgb(148, 0, 221);
	padding: 0 15px;
	color: #fff;
	font-size: 15px;
	line-height: 1.5;
}

.margin-top{
	margin-top: 20px;
}

.caja-roadmap{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(148, 0, 221);
  

}

.violeta{
	background-color: rgb(148, 0, 221);
}

.caja-team{
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 30px;
	padding-left: 30px;
}

.img-team{
	display: flex;
	justify-content: center;
}

.cuadrado-perfecto{
	width: 100%;
	height: 100%;
}

.cuadrado-perfecto img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.seccion2{
	padding-top: 100px;
	padding-bottom: 50px;
}

.sin-padding{
	padding: 0;
}

.sombra{
	box-shadow: 0px 0px 100px 0 #5800a1;
}

.margin-left{
	margin-right: auto;
}

@media (max-width:  1170px){

	body{
		font-size: 15px;
	}

	header .cabecera{
		visibility: hidden;
	}

	header .container nav.open {
       transform: translateX(0%);
	}

	header .container nav a{
		font-size: 30px;
		margin: 15px 0;
	}

	header .container .hamb{
		display: block;
		font-size: 40px;
		color: rgb(59,56,179);
		position: relative;
		left: 100%;
		}

	h1{
		font-size: 20px;
	}

	h2{
		font-size: 14px;
	}

	h3{
		font-size: 13px;
	}

	h4{
		font-size: 11px;
	}

	p{
		font-size: 12px;
	}

	header .menu{
		display: none;
	}

	#introduccion{
	   display: none;
   }

   #introduccion-mobile{
	   display: block;
   }  

	#banner{
		height: 100vh;
	}

	#banner .img-banner{
		display: none;
	}

	#banner .img-banner-mobile{
		display: block;
		width: 100%;
		height: 100%;
	}

	#banner .circulo{
		width: 120px;
		height: 120px;
	}

	#banner .columna-absoluta{
		width: 300px;
		height: 300px;
	}

	#banner .redes-sociales .discord img{
		width: 40px;
		height: 40px;
	}

	#banner .redes-sociales .twitter img{
		width: 40px;
		height: 40px;
	}

	#banner .container{
		top: 2%;
	}

	#introduccion-mobile span{
	   color: rgb(96, 144, 255);
   }

	#introduccion-mobile .parrafo{
		font-size: 12px;
		color: orange;
	}

	#about{
		visibility: hidden;
		display: none;
	}

	#about-mobile{
		visibility: visible;
		background: background: linear-gradient(to bottom,rgb(108, 0, 191) , rgb(68, 0, 161));
		display: block;
	}

	#roadmap{
		display: none;
	}

	#roadmap-mobile{
		display: block;
	}


	#roadmap-mobile .imagen-roadmap{
		display: flex;
		height: 80px;
		width: 80px;
		background: rgb(88, 0, 161);
		margin-left: 10px;
		padding-top: 7px;

	}

	#roadmap-mobile .imagen-roadmap img{
		height: 80px;
		width: 80px;
		align-self: center;
		object-position: center;
		margin-bottom: 40px;

	}

	#roadmap-mobile .titulo-about{
		display: flex;
      justify-content: center;
	}

	#roadmap-mobile .titulo-roadmap{
		display: flex;
      align-self: center;
	}

	#roadmap-mobile .parrafo-about{
		text-align: center;
	}

   #roadmap-mobile span{
	   color: rgb(96, 144, 255);
   }

   #objetivos{
	   display: none;
   }

   #objetivos-mobile{
	   display: block;
   }

   #objetivos-mobile span {
       color: rgb(96, 144, 255);
   } 

   #objetivos-mobile p{
      font-size: 12px;
      color: orange;
   }

   #servicios{
	   display: none;
  }

	#servicios-mobile{
	   display: block;
  }
   #team{
	   display: none;
  }

	#team-mobile{
	   display: block;
  } 

   #team-mobile .circulo{
		width: 150px;
		height: 150px;
		padding-bottom: 35px;
		background-color: #000;
		border: 5px solid #5800a1;
		object-fit: contain;
		transition-property: background;
		transition-duration: .4s;
	}

	#team-mobile.circulo:hover{
		background: rgb(88, 0, 161);
	}

	#team-mobile h4{
		text-align: center;
		color: #fff;
		line-height: 1.5;
	}

	#team-mobile span{
		color: #48e;
	}

	#team-mobile .fila{
		justify-content: space-around;
	}

	.container{
		width: 90%;
	}

	.columna-mobile-100{
		width: 100%;
	}


	 .texto-absoluto{
		position: absolute;
		left: 0;
		right: 0;
		top: 4%;

	}

	.texto-absoluto2{
		position: absolute;
		left: 0;
		right: 0;
		top: 5.5%;
	}

	.texto-absoluto3{
		position: absolute;
		left: 0;
		right: 0;
		top: 7.5%;
	}

	.texto-absoluto4{
		position: absolute;
		left: 0;
		right: 0;
		top: 16%;
		width: 350px;
	}

	.texto-absoluto5{
		position: absolute;
		left: 0;
		right: 0;
		top: 4.9%;
	}


	.texto-absoluto7{
		position: absolute;
		left: 0;
		right: 0;
		top: 9%;
	}

	.texto-absoluto8{
		position: absolute;
		left: 0;
		right: 0;
		top: 43%;
	}

}
